@import './scss/normalize.scss';
@import './scss/vars_and_mixins.scss';
@import './scss/fonts.scss';
@import './scss/fonts_icon.scss';

$menuWidth: 1100px;
$tablet: 992px;
$mobile: 768px;

$font: 'Fira Sans', sans-serif;

$coral: #CC6666;
$gray: #55565A;
$lightgray: #F5F5F5;


html, body {
    height: 100%
}

body {
    @include font($font, 17px, 27px, $gray); 
    font-weight: 300;
    @media (max-width:$mobile) {
        font-size: 14px;
        line-height: 20px;
    }
}

.wrapper {
    margin: 0 auto;
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header, footer {
    width: 100%;
}

main {
    flex: 1 1 auto;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 15px;
}

.margin-bottom {
    margin-bottom: 100px;
    @media (max-width: $mobile) {
        margin-bottom: 40px;
    }
}

.title {
    @include font($font, 65px, normal, #000000); 
    font-weight: 700;
    letter-spacing: 13px;
    text-transform: uppercase;
    @media (max-width: $tablet) {
        font-size: 35px;
        letter-spacing: 3.5px;
    }
}

.subtitle {
    @include font($font, 20px, 27px, #000000); 
    font-weight: 700;
    @media (max-width: $tablet) {
      font-size: 17px;
      line-height: 20px;
    }
}

.subtitle17 {
    @include font($font, 17px, normal, #000000); 
    font-weight: 500;
}

.custom-button {
    display: inline-block;
    border: 1px solid $coral;
    padding: 14px 39px 14px 19px;
    color:  $coral;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    transition: all 0.3s ease;
    position: relative;
    &::after {
        content: "";
        display: block;
        width: 30px;
        height: 1px;
        background-color: $coral;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(100%, -50%);
    }
    &::before {
        content: "";
        display: block;
        width: 30px;
        height: 1px;
        background-color: $coral;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
    }
    &:hover {
        color: #FFF;
        background-color: $coral;
        &::before {
            background-color: #FFF;
        }
    }
}

.header {
    margin: 0 auto;
    max-width: 100%;
    &-container {
        @include flex(space-between, center, row);
        background: #FFF;
        padding: 19px 0;
        .header-left {
            @include flex(flex-start, center, row);
            gap: 186px;
            font-size: 18px;
            &__contacts {
                @include flex(flex-start, center, row);
                gap: 78px;
                &__item {
                    @include flex(flex-start, flex-start, column);
                }
                h5 {
                    font-weight: 500;
                    font-size: 18px;
                }
            }
            &__icons {
                font-size: 30px;
                @include flex(flex-start, center, row);
                gap: 35px;
                a {
                    display: block;
                    padding: 5px;
                }
                .header_phone {
                    display: none;
                    @media (max-width:$mobile) {
                        display: block;
                    }
                }
                .header_shopping_cart {
                    padding-right: 12px;
                    position: relative;
                    .shopping_cart__counter{
                        position: absolute;
                        top: 0;
                        right: 0;
                        background-color: $coral;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        @include flex(center, center, row);
                        color: #FFF;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: normal;
                    }
                }
                
            }
        }
    }
}
.light-background {
    background-color: $lightgray;
}
.banner {
    @include flex(flex-start, stretch, row);
    &__content {
        width: 480px;
        padding: 100px 0px 200px;
        font-size: 25px;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 5px;
        text-transform: uppercase;
        .title {
            margin: 12px 0 0;
            &::after {
                content: "";
                display: block;
                margin-top: 19px;
                width: 327px;
                height: 1px;
                background-color: #000;
                opacity: 0.2;
                transform: translateX(-30%);
            }
        }
        &__text {
            color: #000;
            font-weight: 700;
            letter-spacing: 2.5px;
            text-transform: none;
            margin: 36px 0 34px;
        }
    }
    &__right {
        position: relative;
        padding: 60px;
        .banner__sale {
            position: relative;
            z-index: 1;
        }
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        img {
            display: block;
            height: 100%;
            object-fit: cover;
            object-position: left;
        }
    }
}
.advantages {
    @include flex(flex-start, center, row);
    gap: 20px;
    margin-bottom: 100px;
    &__img-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .column {
            display: grid;
            grid-template-rows: repeat(2, 1fr); 
            gap: 20px;
        }
        ul li {
            @include flex(flex-start, flex-start, column);
            gap: 10px;
            color: #000;
            font-weight: 700;
            padding: 25px 20px;
            background-color: #FFF;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
            position: absolute;
            .icon {
                color: #C66;
                font-size: 42px;
            }
        }
        #advantages__delivery {
            max-width: 240px;
            left: 0;
            top: 50%;
            transform: translate(-30%, -50%);
        }
        #advantages__guarantee {
            max-width: 176px;
            right: 0;
            top: 0;
            transform: translate(-30%, -30%);
        }
        #advantages__pay {
            max-width: 216px;
            padding-left: 16px;
            padding-right: 16px;
            right: 0;
            bottom: 0;
            transform: translate(-40%, 5%);
        }
       
    }  
}
.products {
    margin: 84px auto 98px;
    &__title {
        @include flex(space-between, center, row); 
        gap: 70px;
        margin-bottom: 33px;
        .title {
            max-width: 350px;
        }
        ul {
            @include flex(space-between, center, row); 
            gap: 30px;
            li {
                color: #000;
                font-weight: 700;
                transition: all 0.3s ease;
                white-space: nowrap;
                &:hover {
                    color: $coral;
                }
                .active {
                    color: $coral;
                    border-bottom: 1px solid $coral;
                }
            }
        }
    }
    &__result {
        @include flex(center, stretch, row);
        column-gap: 18px;
        row-gap: 20px;
        flex-wrap: wrap;
        margin: 0 auto 40px;
        &__item {
            width: 300px;           
        }
    }
}
.product__card {
    width: 100%;
    height: 100%;
    @include flex(flex-start, stretch, column);
    &__lable {
        position: absolute;
        left: 19px;
        bottom: 16px;
        z-index: 2;
        display: inline-block;
        font-size: 14px;
        font-weight: 300;
    }
    &__present {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        width: 100px;
        height: 100px;
        background: url(./img/product_present_circle.svg) no-repeat;
        background-position: bottom;
        &::after {
            content: "";
            display: block;
            position: relative;
            z-index: 5;
            width: 100%;
            height: 100%;
            background: url(./img/product_card_present.png) no-repeat;
            background-position: 90% 10%;  
        }
        .present {
            position: absolute;
        }
        .present_1 {
            right: 10px;
            top: 10px;
        }
        .present_2_1 {
            left: 0;
            top: 10px;
            z-index: 1;
        }
        .present_2_2 {
            right: 10px;
            bottom: 0;
        }
        .present_3 {
            top: 25px;
            right: 14px;
        }
        .present_4_1 {
            left: 0;
            top: 14px;
        }
        .present_4_2 {
            right: 10px;
            top: 27px;
            z-index: 1;
        }
    }
    &__img {
        @include flex(center, flex-end, row);
        position: relative;
        width: 100%;
        height: 285px;
        border: 1px solid #F0F0F0;
        background: #FFF;
        padding-bottom: 40px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__info {
        flex: 1 0 auto;
        @include flex(flex-start, center, column);
        gap: 17px;
        padding: 15px 0px 20px;
        color: #000;
        &__name {
            font-weight: 500;
            flex: 1 0 auto;
        }
        &__content {
            width: 100%;
            @include flex(space-between, center, row);
            gap: 17px;
            padding-right: 30px;
        }
        &__price {
            color: $coral;
            font-size: 22px;
            font-weight: 700;
            .old-price {
                color: #BBBEC5;
                font-size: 17px;
                font-style: normal;
                text-decoration: line-through;
                &__sale {
                    display: inline-block;
                    padding: 0 5px;
                    color: #FFF;
                    background-color: $coral;
                    border-radius: 5px;
                    font-size: 14px;
                    text-decoration: none;
                }
            }
        }
        &__buy-button {
            cursor: pointer;
            padding: 8px 25px;
            @include flex(center, center, row);
            border: 1px solid $coral;
            background-color: $coral;
            color: #fff;
            font-size: 36px;
            transition: all 0.3s ease;
            &::before {
                background-color: #FFF;
                width: 20px;
            }
            &:hover {
                background-color: #FFF;
                color: $coral;
                &::before {
                    background-color: $coral;
                }
            }
        }
    }
}
.banner_2 {
    @include flex(space-between, stretch, row);
    gap: 80px;
    &__content {
        width: 590px;
        padding: 66px 0px 19px;
        .title {
            margin-bottom: 34px;
        }
        ol li {
            @include flex(flex-start, flex-start, column);
            gap: 14px;
            padding: 25px 20px 30px 60px;
            background: #FFF;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
            position: relative;
            counter-increment: count;
            &:not(:last-child) {
                margin-bottom: 30px;
            }
            &::after {
                content: "0"counter(count);
                position: absolute;
                bottom: 0;
                right: 0;
                color: #54565A;
                text-align: right;
                font-family: $font-mak;
                font-size: 150px;
                line-height: 75px;
                transform: translateX(8px);
                font-weight: 700;
                opacity: 0.1;
            }
            .icon {
                @include flex(center, center, row);
                width: 80px;
                height: 80px;
                color: #fff;
                background-color: #C66;
                font-size: 46px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(-50%, -50%);
            }
        }
    }
    &__left {
        flex: 1 0 auto;
        position: relative;
        padding: 60px;
    }
    &__img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        img {
            display: block;
            height: 100%;
            object-fit: cover;
            object-position: left;
        }
    }
}
.question_form-block {
    @include flex(space-between, flex-start, row);
    gap: 30px;
    position: relative;
    .left {
        max-width: 590px;
        font-size: 25px;
        font-weight: 300;
        line-height: 40px; /* 160% */
        letter-spacing: 2.5px;
        .title {
            margin-bottom: 22px;
        }
        img {
            position: absolute;
            left: 0;
            bottom: -70px;
        }
    }
    .form-block {
        width: 620px;
        padding-bottom: 140px;
    }
    .question__form {
        @include flex(flex-start, flex-start, column);
        gap: 21px;
        padding: 40px 60px 50px;
        width: 580px;
        background: #FFF;
        box-shadow: 40px 40px $coral, 0px 0px 40px 0px rgba(0, 0, 0, 0.10);
        input, textarea {
            width: 100%;
            box-sizing: border-box;
            padding: 14px 25px;
            border: 3px solid #F5F5F5;
            background: #FFF;
            &:active, &:focus {
                outline: none;
            }
            &::placeholder {
                color: #55565A;
                font-size: 17px;
                font-weight: 300;
                line-height: 40px; /* 235.294% */
                letter-spacing: 1.7px;
            }
        }
        button{
            cursor: pointer;
            background-color: #fff;
            transition: all 0.3s ease;
            &:hover {
                background-color: $coral;
            }
        }
    }
   
}



.footer {
    flex: 0 0 auto;
    &-container {
        padding: 79px 0 28px;
        @include flex(space-between, center, row);
        background: #FFF;
        .footer-right {
            @include flex(flex-start, center, row);
            gap: 25px;
            font-size: 16px;
            font-weight: 300;
        }
        .footer-left {
            @include flex(flex-start, center, row);
            gap: 186px;
            font-size: 18px;
            &__contacts {
                @include flex(flex-start, center, row);
                gap: 78px;
                &__item {
                    @include flex(flex-start, flex-start, column);
                }
                h5 {
                    font-weight: 500;
                    font-size: 18px;
                }
            }
        }


    }
}

